.header {
    overflow: hidden;
    background-color: blue;
    padding: 20px 10px;
    font-size: 2rem;
    margin-top: 40px;
    align-items: center;
    display: flex;
  }

.register{
  font-size: 50px;
  margin: 20px;
}
#icones {
  display: flex;
  justify-content: space-between;
}

.footer{
  margin-top: auto;
}