<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Cadastro</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-icon name="log-in-outline" (click)="logout()" slot="end" color="black"></ion-icon>
  </ion-item>
</ion-header>

<ion-content class="ion-padding"><br>

  <form [formGroup]="curiosityForm" (submit)="registraCuriosidade()">

    <ion-item>
      <ion-textarea rows="1" formControlName="titulo" type="text" 
      placeholder="Título"></ion-textarea>
    </ion-item>
    <br/>
    <ion-item>
      <ion-icon name="document" slot="start" color="primary" ></ion-icon>
      <ion-textarea rows="6" formControlName="descricao" type="text" 
      placeholder="Descreva como é o local!"></ion-textarea>
    </ion-item>
    <br/>
    <ion-item>
      <ion-icon name="location-outline" slot="start" color="primary"></ion-icon>
      <ion-input formControlName="endereco" type="text" placeholder="Link da localização!"></ion-input>
    </ion-item>
    <br/>
    <ion-radio-group formControlName="tipo">
      <ion-item>
        <ion-label>Restaurante</ion-label>
        <ion-radio slot="start" value="restaurante"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Lazer</ion-label>
        <ion-radio slot="start" value="lazer"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Cultura</ion-label>
        <ion-radio slot="start" value="cultura"></ion-radio>
      </ion-item>
    </ion-radio-group><br/><br/>

    <ion-button [disabled]="curiosityForm.invalid" type="submit" expand="block" color="primary" fill="clear">Enviar</ion-button>

  </form><br/><br/>

  <ion-footer>
    <ion-row>
      <ion-col id="icones">
      <ion-icon name="videocam-outline" class="register" [routerLink]="['/registros-cultura']" color="primary" alt="Cultura"></ion-icon>
        <ion-icon name="bicycle-outline" class="register" alt="Lazer" [routerLink]="['/registros-lazer']" color="primary"></ion-icon>
        <ion-icon name="restaurant-outline" class="register" alt="Restaurante" [routerLink]="['/registros']"  color="primary"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-footer>

</ion-content>
